 .a{
color: blue;
 }
 .b{
    color: rgb(255, 0, 0);
     }
     .c{
        color: rgb(0, 162, 255);
         }
         .d{
            color: rgb(13, 255, 114);
             }
             .x{
                color: rgb(178, 207, 14);
                 }
                 .f{
                    color: rgb(190, 8, 136);
                     }
                     .l{
                        color: rgb(219, 152, 6);
                         }
                         .tovus{
                            text-align: center;
                            margin-top: 50px;
                            font-size: 50PX;
                         }
                         .p{
                            color: rgb(6, 219, 137);
                             }
                             .q{
                                color: rgba(3, 3, 3, 0.342);
                                 }
                         